body {
	width: 100vw;
	height: 100vh;
	/* background-image: url(../img/heiban.PNG); */
	background-color: black;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	
	
	perspective: 200cm;
	transform-style: preserve-3d;
}

/* 全屏 vw vh 视口宽高分别为100vw\100vh*/
.world {
	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0px;
	top: 0px;

	
	transform-style: preserve-3d;

	outline: 0px;
}

* {
	background-size: 100% 100%;
}

.desktop {
	position: absolute;
	transform-style: preserve-3d;

	width: 100%;
	height: 100%;
}



.frame{
	position: absolute;
	width: 85%;
	height: 90%;
	right: 1%;
	bottom: 3%;
	margin: 1mm;
	border: 0px;
	
	overflow: hidden;
	
}


.icon:nth-child(1){
	margin-top: 5%;
}
.icon{
	/* background-image: url(../img/mucai/zhujian.JPG); */
	background-size: 100% 100%;
	width: 16vh;
	height: 5vh;
	margin: 5vh;
	margin-left: 5vh;
	line-height: 5vh;
	text-align: center;
	
	font-size: 1vw;
	font-family: 隶书;
	color:white;
	text-shadow: 3px 3px 6px #333;
	transform-style: preserve-3d;
	/* transform:rotateX(10deg) rotateY(-10deg); */
}

a{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
}

.icon:hover{
	color: red;
	animation: icon 3s ;
	}

@keyframes icon{
	from{
		transform: rotateY(0deg) rotateX(0deg);
	}
	to{
		transform: rotateY(160deg) rotateX(160deg);
	}
}


a:hover,.icon:hover>a{
	color: red;
	text-shadow: 5px 5px 5px #000;
	/* transform: translateZ(4vh); */
	
}

a:link,a:active,a:visited{
	color:white;
	text-decoration: none;
}

.text {

	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
	color: rgba(20, 20, 20, 1);
	font-size: 1.2rem;
	font-family: "隶书";

}


input{
	position: absolute;
	width: 10rem;
	height: 2rem;
	bottom: 2cm;
	left: 1cm;
	transform: translateZ(10vw);
}