body {
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	background-size: 100% 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.bodybgi{
	background-image: url(../img/heiban.PNG);
}
/* 全屏 vw vh 视口宽高分别为100vw\100vh*/
.world {
	perspective: 200cm;
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	outline: 0px;
}

/* * {
	background-size: 100% 100%;
} */

.desktop {
	position: absolute;
	transform-style: preserve-3d;

	width: 100%;
	height: 100%;
}



.frame{
	position: absolute;
	width: 85%;
	height: 100%;
	right: 1%;
	bottom: 0%;
	margin: 0mm;
	border: 0px;
	
	overflow: hidden;
	border: 1px solid #283446;
}

@media screen and (max-width:200px) {
	.frame{
		width: 100%;
		
	}
}

.icon:nth-child(1){
	margin-top: 5%;
}
.icon{
	/* background-image: url(../img/mucai/zhujian.JPG); */
	background-size: 100% 100%;
	width: 16vh;
	height: 5vh;
	margin: 4vh;
	margin-left: 5vh;
	line-height: 5vh;
	text-align: center;
	
	font-size: 2rem;
	font-family: 隶书;
	/* color:white;
	text-shadow: 1px 1px 1px #fff; */
	transform-style: preserve-3d;
		
	/* animation: icon 5s infinite alternate; */
	
}

@keyframes icon{
	from{
		transform: rotateZ(-10deg)  rotateX(5deg);
	}                             
	to{                           
		transform: rotateZ(10deg) rotateX(-5deg);
	}
}
a{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
}

.icon:hover{
	color: red;
	/* animation: icon 3s infinite  alternate; */
	}

a:hover,.icon:hover>a{
	color: limegreen;
	text-shadow: 5px 5px 5px #000;
	
}

a,a:link,a:active,a:visited{
	color: #AAAAAA;
	text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
	text-decoration: none;
	/* transform: translateZ(2cm); */
}

.text {

	text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
	color: rgba(20, 20, 20, 1);
	font-size: 1.2rem;
	font-family: "隶书";

}


.color{
	
	position: absolute;
	width: 5rem;
	height: 5rem;
	bottom: 5mm;
	left: 1cm;
	transform: translateZ(10cm);
	border-radius: 50%;
	background-color: red;
	background-image: url(../img/flowers/h11.PNG);
	background-size: 100% 100%;
	
}


input{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top:0px;
	border: 0px;
	background-color: transparent;
	display: none;
}