
.animationx{
	animation:gox 3s linear;
}

.animationy{
	animation:goy 3s linear;
}

.animationxy{
	animation:goxy 3s linear;
}

.animationz{
	animation:goz 3s linear;
}

@keyframes gox{
	/* from{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	} */
	to{
		transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
	}
}
@keyframes goy{
	/* from{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	} */
	to{
		transform: rotteX(0deg) rotateY(360deg) rotateZ(0deg);
	}
}
@keyframes goxy{
	/* from{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	} */
	10%{
		
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translate3d(0cm,0cm,0cm);
	}
	30%{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translate3d(10cm,0cm,0cm);
	}
	
	50%{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translate3d(10cm,10cm,0cm);
	}
	70%{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translate3d(10cm,10cm,10cm);
	}
	80%{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translate3d(0cm,0cm,0cm);
	}
	
	to{
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translate3d(0cm,0cm,0cm) scale3d(1.5,1.5,1.5);
	}
}

@keyframes goz{
	/* from{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	} */
	to{
		transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
	}
}

.monitor_dialog{
	
	width: 20cm;
	height: 60cm;
	border: aqua 1px double;
	background-color: #FFFFFF;
	overflow: scroll;
}


/* <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">close</span></button> */

.ui-dialog-titlebar-close{
	position: relative;
	float: right;
	
	font-size: 1.5rem;
	color: #ff0000;
	text-shadow:1px 1px 1px #fff;
	border:1px solid #0000ff;
	box-shadow: 0 1px 2px #fff inset,0 -1px 0 #a8abae inset;
	background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
	background: linear-gradient(top,#f2f3f7,#e4e8ec);
}

.ui-dialog-content{
	padding: 1cm;
}