.axis{
	position: absolute;
	
	width: 6cm;
	height: 1cm;
	
	top: calc((100% - 1cm)/2);
	left: calc((100% - 6cm)/2);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.x-axis{
	
	
	background-image: url(x-axis.PNG);
	
}

.y-axis{
	
	
	background-image: url(y-axis.PNG);
	transform: rotateZ(90deg);
}

.z-axis{
	
	background-image: url(z-axis.PNG);
	transform: rotateY(-90deg);
	
}